.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
  z-index: 20;
}

/* when screen is bigger than 650 */
/* @media only screen and (min-width: 650px) {
  .sidenav {
    display: none;
  }
} */

/* when screen is less than 650 px */
/* @media only screen and (max-width: 650px) {
  .toolbar-large {
    display: none;
  }
} */

@import '~@angular/material/theming';
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo-img {
  /* margin-top: 40px; */
  height: 100%;
}

.active {
  color: white;
}

.hidden {
  display: none;
}
